<h1>Editing vicariato</h1>

<% form_for(@vicariato) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vicariato %> |
<%= link_to 'Back', vicariatos_path %>
