<% form_for(@missionario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento, :start_year => 1900, :end_year =>
    Time.now.year - 5, :use_month_names => [ 'Janeiro', 'Fevereiro',
    'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
    'Outubro', 'Novembro', 'Dezembro' ], :order => [ :day, :month,
    :year ], :default => -17.years.from_now %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.collection_select :estado_id, Estado.find(:all), :id, :sigla, { :selected => 12 } %>
  </p>
  <p>
    <%= f.label :paroquia %><br />
    <%= f.collection_select :paroquia_id, Paroquia.find(:all).sort_by { |k| k.nome + " " + k.bairro }, :id, :nome_e_bairro %>
  </p>
  <p>
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :estado_civil %><br />
    <%= f.select :estado_civil, [["Solteiro"],["Casado"],["Viúvo"]] %>
  </p>
  <p>
    <%= f.label :profissao %><br />
    <%= f.text_field :profissao %>
  </p>

  <p>
    <%= f.label :sacramentos_recebidos %><br />
    <% for sacramento in Sacramento.find(:all) %>
    <div>
      <%= check_box_tag "missionario[sacramento_ids][]", sacramento.id, 
	  @missionario.sacramentos.include?(sacramento) %>
      <%= sacramento.nome %>
    </div>
    <% end %>
  </p>
  <p>
    <%= f.label :movimentos_pastorais %><br />
    <%= f.text_area :movimentos_pastorais %>
  </p>
  <p>
    <%= f.label :função %><br />
    <%= select_tag :func, options_for_select( [["Coordenador de Diocese","d"],["Coordenador de Forania","f"],["Coordenador de Paróquia","p"],["Missionário","m"]] ) %> 

  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
