<% form_for(@missionario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "<strong>Nome</strong>" %><br />
    <%= f.text_field :nome, :maxlength => 44, :size => 44 %>
  </p>
  <p>
    <%= f.label :nome_cracha, "<strong>Como você gostaria de ser chamado? (nome no crachá)</strong>" %><br />
    <%= f.text_field :nome_cracha, :size => 44 %>
  </p>
  <p>
    <%= f.label :nascimento, "<strong>Nascimento</strong>" %><br />
    <%= f.date_select :nascimento, :end_year => 1900, :start_year =>
    Time.now.year, :use_month_names => [ 'Janeiro', 'Fevereiro',
    'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
    'Outubro', 'Novembro', 'Dezembro' ], :order => [ :day, :month,
    :year ],  :include_blank => false  %>
  </p>
  <p>
    <%= f.label :endereco, "<strong>Endereço</strong>" %><br />
    <%= f.text_field :endereco, :size => 55 %>
    <br />
    <%= f.label :numero, "<strong>Número:</strong>" -%>
    <%= f.text_field :numero, :size => 5 %>
    <%= f.label :complemento, "Complemento:" -%>
    <%= f.text_field :complemento, :size => 10 %>
  </p>
  <p>
    <%= f.label :bairro, "<strong>Bairro</strong>" %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cidade, "<strong>Cidade</strong>" %><br />
    <% defcid = @missionario.cidade; defcid = "Rio de Janeiro" if defcid == nil %>
    <%= f.text_field :cidade, :value => defcid %>
  </p>
  <p>
    <%= f.label :estado, "<strong>Estado</strong>" %><br />
    <%= f.collection_select :estado_id, Estado.find(:all), :id, :sigla, { :selected => 12 } %>
  </p>
  <p>
    <%= f.label :cep, "<strong>CEP (só números)</strong>" %><br />
    <%= f.text_field :cep, :size => 6 %>
  </p>
  <p>
    <%= f.label :paroquia, "<strong>Paróquia</strong> (Bairro e nome)"  %><br />
    <%= f.collection_select :paroquia_id, paroquias_sufraganeas, :id, :nome_e_bairro #.sort_by { |k| k.bairro + " " + k.nome }
%>
  </p>
  <fieldset id="telefones">
    <legend><%= f.label :telefones, "<strong>Telefones</strong>" %></legend>
    <%= render :partial => "telefone", :collection => @missionario.telefones %>
  </fieldset>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :profissao %><br />
    <%= f.text_field :profissao %>
  </p>

  <p>
    <%= f.label :sacramentos_recebidos %><br />
    <% for sacramento in Sacramento.find(:all) %>
    <div>
      <%= check_box_tag "missionario[sacramento_ids][]", sacramento.id,
          @missionario.sacramentos.include?(sacramento) %>
      <%= sacramento.nome %>
    </div>
    <% end %>
  </p>
  <p>
    <%= f.label :movimentos_pastorais, "Movimentos ou pastorais de que participa (liste todos, um por linha)" %><br />
    <%= f.text_area :movimentos_pastorais %>
  </p>
  <% if @user.missionario %>
  <p>
    <%= f.label :cargo, "Função no Conselho Missionário"  %><br />
    <%= f.collection_select :cargo_id, Cargo.find(:all, :order => "nivel DESC", :conditions => { :nivel => @nivelmin..5 }), :id, :nome  %>
  </p>
  <% else %>
  <%= hidden_field :missionario, :cargo_id %>
  <% end %>
  <p>
    <%= f.label :atividades, "O que você está disposto a fazer como trabalho missionário?" %><br />
    <%= f.text_area :atividades %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
