<h1>Lista de missionários para Mala Direta</h1>

<hr />
<% @missionarios.each do |m| %>
<p class="maladireta">
<%= m.nome -%><br />
<%= m.endereco -%>, <%= m.numero -%><br />
<%= m.complemento -%> <br /> 
<%= m.bairro -%><br />
<%= m.cidade -%> - <%= m.estado.sigla -%><br />
<span class='cep'><%= "%05d-%03d" % [ m.cep.to_i / 1000, m.cep.to_i % 1000 ] %></span><br />
<hr />
<% end %>


 
