<h1>New missionario</h1>

<% form_for(@missionario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento, :start_year => 1900, :end_year =>
    Time.now.year - 5, :use_month_names => [ 'Janeiro', 'Fevereiro',
    'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro',
    'Outubro', 'Novembro', 'Dezembro' ], :order => [ :day, :month,
    :year ], :default => -17.years.from_now %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.collection_select :estado_id, Estado.find(:all), :id, :sigla %>
  </p>
  <p>
    <%= f.label :paroquia %><br />
    <%= f.collection_select :paroquia_id, Paroquia.find(:all).sort_by { |k| k.nome }, :id,
    :nome  %>
  </p>
  <p>
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :estado_civil %><br />
    <%= f.text_field :estado_civil %>
  </p>
  <p>
    <%= f.label :profissao %><br />
    <%= f.text_field :profissao %>
  </p>
  <p>
    <%= f.label :movimentos_pastorais %><br />
    <%= f.text_area :movimentos_pastorais %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', missionarios_path %>
