<p>
  <b>Nome:</b>
  <%=h @missionario.nome %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @missionario.nascimento %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @missionario.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @missionario.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @missionario.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%=h @missionario.estado.nome %>
</p>

<p>
  <b>Cep:</b>
  <%=h @missionario.cep %>
</p>

<p>
  <b>Email:</b>
  <%=h @missionario.email %>
</p>


<p>
  <b>Profissao:</b>
  <%=h @missionario.profissao %>
</p>

<p>
  <b>Movimentos pastorais:</b>
  <%=h @missionario.movimentos_pastorais %>
</p>


<%= link_to 'Edit', edit_missionario_path(@missionario) %> |
<%= link_to 'Back', missionarios_path %>
