<div id="menu">
  <ul>
    <li><%= link_to 'Editar missionário', edit_missionario_path(@missionario) %> </li>
    <li><%= link_to 'Listagem de missionários', missionarios_path %></li>
  </ul>


</div>

<div id="main">
  <h1><%=h @missionario.nome_cracha %></h1>
    
<p>
  <b>Nome:</b>
  <%=h @missionario.nome %>
</p>

<p>
  <b>Nascimento:</b>
  <%=h @missionario.nascimento %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @missionario.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @missionario.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @missionario.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%=h @missionario.estado.nome %>
</p>

<p>
  <b>Cep:</b>
  <%=h @missionario.cep %>
</p>

<p>
  <b>Email:</b>
  <%=h @missionario.email %>
</p>


<p>
  <b>Profissao:</b>
  <%=h @missionario.profissao %>
</p>

<p>
  <b>Movimentos pastorais:</b>
  <%=h @missionario.movimentos_pastorais %>
</p>

</div>
