<div id="main">
<h1>COMIDI - Conselho Missionário Arquidiocesano - Arquidiocese do Rio de Janeiro</h1>

<p>Total de missionários cadastrados:
<%= @num_missionarios -%></p>

<%= link_to 'Missionários', missionarios_path -%> <br />
<%= link_to 'Foranias', foranias_path -%><br />
<%= link_to 'Vicariatos', vicariatos_path -%><br />
<%= link_to 'Paróquias', paroquias_path -%><br />
<%= link_to 'Usuários', usuarios_path -%><br />

<h2>Coordenadores diocesanos</h2>

<div class="table">
<table>
  <tr>
    <th>Nome no Crachá</th>
    <th>Idade</th>
    <th>Função</th>
    <th>Vicariato</th>
    <th>Forania</th>
    <th>Paróquia</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
  </tr>
<% for missionario in @coordenadores %>
  <tr>
    <td><%= link_to h(missionario.nome_cracha), missionario  %></td>
    <td><%=h (Date.today - missionario.nascimento).to_i/365 unless missionario.nascimento == nil %></td>
    <td><%=h missionario.cargo.nome %></td>
    <td><%=h missionario.paroquia.forania.vicariato.nome -%></td>
    <td><%=h missionario.paroquia.forania.numero -%></td>
    <td><%=h missionario.paroquia.nome -%> - <%=h missionario.paroquia.bairro %></td>
    <td>(<%=h missionario.ddd_casa -%>)<%=h missionario.telefone_casa %></td>
    <td>(<%=h missionario.ddd_celular -%>)<%=h missionario.telefone_celular %></td>

    <td><%=h missionario.email %></td>
    <td class='ed'><%= link_to 'Edit', edit_missionario_path(missionario) %></td>
    <td class='ed'><%= link_to 'Destroy', missionario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

</div>

