<p>
  <b>Vicariato:</b>
  <%=h @forania.vicariato.nome %>
</p>

<p>
  <b>Numero:</b>
  <%=h @forania.numero %>
</p>


<h2>Coordenadores de forania</h2>

<%= render :partial => 'estruturas/coordenadores' %>

<%= link_to 'Edit', edit_forania_path(@forania) %> |
<%= link_to 'Back', foranias_path %>
