<div id="menu">
  <h2>Ajude as missões!</h2>
  <p>Ajude os diversos projetos missionários de nossa Arquidiocese:</p>
  
  <p class="vermelho">
    BRADESCO (237)<br/>
    AG 0814-1<br />
    (João Paulo II)<br /> 
    CC 0074861-7<br />
    MITRA ARQUIEPISCOPAL DO RJ (MISSÕES)</p>
  <% if session[:usuario_id] %>
  <h2>Painel</h2>
  Bem vindo(a), <%= Usuario.find(session[:usuario_id]).login -%>
  <br />
  <%= link_to 'Administrar', :controller => :admin %><br />
  <%= link_to 'Sair', :controller => :admin, :action => :logout %>
  <% else %>

  <p>
  <%= link_to '<strong>Quero me cadastrar!</strong>', :controller => :usuarios, :action => :new %>
  </p>

  <h2>Já sou missionário!</h2>
  <% form_tag('/admin/login') do %>
  
  <table>
    <tr>
      <td>
  <%= label_tag 'login' %>
      </td><td>
  <%= text_field_tag :login, nil, :size => 8 %>
      </td></tr>
    <tr> <td>
  <%= label_tag 'senha' %>
  </td><td>
  <%= password_field_tag :password, nil, :size => 8 %>
  </td></tr></table>
  <%= submit_tag "Entrar" %>
  <% end %>
  <% end %>
</div>

<div id="main">
  <h1>Conselho Missionário Arquidiocesano</h1>
  <p class="subtitle">
    Arquidiocese de São Sebastião do Rio de Janeiro
  </p>
  <div id="info">
  <h2>O COMIDI</h2>
  <p>
O Conselho Missionário é um organismo que existe na Igreja Católica Apostólica Romana, em diferentes âmbitos: Paroquial (COMIPA), Diocese (COMIDI), Regional da CNBB (COMIRE) e Nacional (COMINA).</p>

É formado por um grupo de pessoas que tem o compromisso de ajudar a Igreja local a viver a dimensão missionária do seu batismo.

É ao mesmo tempo “espaço e instrumento” privilegiado do compromisso missionário da Igreja diocesana. Como instrumento, ajuda a Igreja a viver a sua vocação missionária. Como espaço é chamado a experimentar em si mesmo essa realidade e depois testemunhá-la.

Nossa Missão é:
<ol>
<li>Articula a dimensão missionária na Diocese e nas Paróquias.</li>
<li>Mantém sempre viva a chama da missionariedade que, desde o Batismo foi infundida no coração de cada batizado.</li>
<li>Fazer com que a dimensão missionária perpasse todas as pastorais, movimentos e grupos existentes na diocese. A dimensão missionária não é uma pastoral a mais. Sua transversalidade dá novo vigor, novo impulso.</li>
<li>Enriquece a vivência cristã com a espiritualidade missionária que motiva a fraternidade universal, o respeito às culturas, o diálogo ecumênico e inter-religioso, o amor à ecologia; que desperta a dimensão profética da missão.</li>
<li>Estabelece prioridades e linhas de ação que deverão nortear a animação missionária na Diocese.</li>
<li>Conscientizar todos os Vicariatos, Paróquias e Movimentos em conhecer e apoiar (dentro do possível) todos os projetos missionários existentes:
<ul>
<li>Igrejas Irmãs (Parintins/AM e Paranatinga/MT)</li>
<li>Os projetos missionários “Além Fronteiras”</li>
<li>O projeto “Missão Continental” em nossa Diocese</li>
<li>As diversas iniciativas missionárias dos Movimentos e Ordens Religiosas em nossa Diocese</li>
<li>Missão popular</li>
</ul></li>
</ol>

<h2>Coordenador do Comidi</h2>
<p>
<%= h @coordenador.missionario.nome_cracha -%><br />
(<%=h @coordenador.missionario.ddd_casa -%>)<%=h @coordenador.missionario.telefone_casa %><br />
(<%=h @coordenador.missionario.ddd_celular -%>)<%=h @coordenador.missionario.telefone_celular %><br />
<a href="mailto:<%= h @coordenador.missionario.email -%>"><%= h @coordenador.missionario.email -%> </a>
</p>

</div>
</div>
