<h1>COMIDI - Conselho Mission치rio Arquidiocesano</h1>

<p>Total de mission치rios cadastrados: 
<%= @num_missionarios -%></p>

<%= link_to 'Mission치rios', missionarios_path -%> <br />
<%= link_to 'Foranias', foranias_path -%><br />
<%= link_to 'Vicariatos', vicariatos_path -%><br />
<%= link_to 'Par칩quias', paroquias_path -%><br />

