<div id="container">
<div id="header">
  <span id="diocese">Arquidiocese de São Sebastião do Rio de Janeiro</span>
  <div id="div-h1">
    <h1><span id="internal">Conselho Missionário Arquidiocesano</span></h1>
  </div>
</div>

<div id="menu">
  <% if session[:usuario_id] %>
  <h2>Bla</h2>
  Bem vindo(a), <%= Usuario.find(session[:usuario_id]).login -%>
  <br />
  <%= link_to 'Sair', :controller => :admin, :action => :logout %>
  <% else %>
  <h2>Sou usuário!</h2>
  <% form_tag('/admin/login') do %>
  
  <table>
    <tr>
      <td>
  <%= label_tag 'login' %>
      </td><td>
  <%= text_field_tag :login, nil, :size => 10 %>
      </td></tr>
    <tr> <td>
  <%= label_tag 'senha' %>
  </td><td>
  <%= password_field_tag :password, nil, :size => 10 %>
  </td></tr></table>
  <%= submit_tag "Entrar" %>
  <% end %>
  <% end %>
</div>

<div id="info">
  <h2>O COMIDI</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tellus est, sit amet condimentum odio. Vestibulum pharetra pellentesque arcu at vulputate. Duis ultricies massa leo. Cras et augue sed ipsum condimentum tristique suscipit eu arcu. Mauris est nibh, volutpat ut consectetur a, auctor ac risus. Suspendisse potenti. Morbi ut quam eget ipsum congue aliquam non vel nulla. Curabitur suscipit vehicula eleifend. Donec tincidunt nibh ut tortor condimentum quis fringilla massa lacinia. Duis sagittis, massa ac porttitor adipiscing, lacus tellus fermentum purus, in accumsan lorem orci in tortor. Maecenas eu mauris diam. Maecenas sem nisi, luctus bibendum faucibus rutrum, cursus vitae risus. Maecenas consectetur dui at turpis iaculis in posuere purus porttitor. Pellentesque vestibulum imperdiet tortor, ut condimentum purus tincidunt eget. Duis sollicitudin bibendum urna, ac semper nisi placerat et. Praesent accumsan, leo eu semper varius, odio sem laoreet ipsum, quis varius nibh massa et felis. Proin metus ligula, iaculis ac consequat ut, porttitor vel ante. Etiam nec imperdiet tellus. Proin imperdiet purus in nisi aliquet ullamcorper. Nulla auctor imperdiet tortor vel molestie.
</p>
<p>
Vestibulum bibendum, lorem eget consequat dapibus, nulla ante gravida nibh, ut blandit massa dui nec turpis. Morbi laoreet mauris nec dui viverra malesuada. In hac habitasse platea dictumst. Fusce sem mi, aliquet nec gravida id, tincidunt at est. Fusce vel bibendum lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut in placerat purus. In hac habitasse platea dictumst. Aliquam erat volutpat. Maecenas a ligula vel augue pretium scelerisque. Integer tellus velit, semper quis aliquam molestie, accumsan nec enim. Maecenas ac nibh at tortor dictum ullamcorper.
</p>
</div>
</div>
