<% form_for(@usuario) do |f| %>
<%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, "Senha (atenção, maiúsculas são diferentes de minúsculas)" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmação de senha" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% if !@usuario.missionario && session[:usuario_id] %>
  <p>
    <%= f.label :missionario %>
    <%= f.collection_select :missionario_id, Missionario.find(:all), :id, :nome_cracha, { :include_blank => true } %>
  </p>
  <% end %>
  <% if session[:usuario_id] && Usuario.find(session[:usuario_id]).nivel == 0 %>
<p>
  <%= f.label :nivel %>
  <%= f.select :nivel, [["Usuário",2],["Administrador",1],["Superusuário",0]] %>
</p>
<% else %>
<%= hidden_field :usuario, :nivel %>
<% end %>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
