<h1>New paroquia</h1>

<% form_for(@paroquia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :forania %><br />
    <%= f.text_field :forania %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :num_de_comunidades %><br />
    <%= f.text_field :num_de_comunidades %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', paroquias_path %>
