<p>
  <b>Nome:</b>
  <%=h @paroquia.nome %>
</p>

<p>
  <b>Forania:</b>
  <%=h @paroquia.forania.vicariato.nome %> <%=h @paroquia.forania.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @paroquia.bairro %>
</p>

<p>
  <b>Num de comunidades:</b>
  <%=h @paroquia.num_de_comunidades %>
</p>

<h2>Coordenadores paroquiais</h2>

<%= render :partial => 'shared/coordenadores' %>

<%= link_to 'Edit', edit_paroquia_path(@paroquia) %> |
<%= link_to 'Back', paroquias_path %>
