<p>
  <b>Nome:</b>
  <%=h @paroquia.nome %>
</p>

<p>
  <b>Forania:</b>
  <%=h @paroquia.forania %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @paroquia.bairro %>
</p>

<p>
  <b>Num de comunidades:</b>
  <%=h @paroquia.num_de_comunidades %>
</p>

<h2>Coordenadores paroquiais</h2>
<table>
  <tr>
    <th>Nome no Crachá</th>
    <th>Idade</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
  </tr>
<% for missionario in @coordenadores %>
  <tr>
    <td><%= link_to h(missionario.nome_cracha), missionario  %></td>
    <td><%=h (Date.today - missionario.nascimento).to_i/365 unless missionario.nascimento == nil %></td>
    <td>(<%=h missionario.ddd_casa -%>)<%=h missionario.telefone_casa %></td>
    <td>(<%=h missionario.ddd_celular -%>)<%=h missionario.telefone_celular %></td>

    <td><%=h missionario.email %></td>
    <td><%= link_to 'Edit', edit_missionario_path(missionario) %></td>
    <td><%= link_to 'Destroy', missionario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>






<%= link_to 'Edit', edit_paroquia_path(@paroquia) %> |
<%= link_to 'Back', paroquias_path %>
