<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "COMIDI" %></title>
  <%= stylesheet_link_tag 'comidi' %>
</head>
<body>
  <div id='container'>
    <div id='logo'>
      <%= image_tag 'celam2.png', :alt => "Logo Missão Continental" -%>
    </div>
    <div id='top'>
      <div id='notice'>
	<p><%= flash[:notice] %></p>
      </div>
    </div>

    <%= yield  %>
        
    <div id='footer'>
      <div id='logo-ar'>
      <%= image_tag 'arquidiocese.png', :alt => "Logo da Arquidiocese" %>
      </div>
      <p>
	Conselho Missionário Arquidiocesano <br />
	Arquidiocese de São Sebastião do Rio de Janeiro
      </p>
    </div>

</body>
</html>


